In [1]:
import pandas as pd
import numpy as np

In [3]:
data_user = pd.read_csv(r'D:\yelp_dataset\yelp_dataset~\user.csv',index_col = 0)
data_user.head()
data_review = pd.read_csv(r'D:\yelp_dataset\yelp_dataset~\IL_review.csv',index_col = 0)
data_review.head()

C:\Users\Dell\anaconda3\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,year
0,Ad91EzbAGRCR1SwkPfZJKg,LWTvg7RlyNLXIf482tXBPw,WCVFqK84i2H5EClSoow7ZA,5.0,0,0,0,"Traveling through in our RV, stopped over in G...",2016-07-21 17:41:18,2016
1,uGJubhANtj6sfP_xz8LeLQ,1EecTw-Iojid62ySMMl5gA,xR3inMR2KceU3b9dhkz_tw,4.0,0,0,0,The food and service was amazing! I only wish ...,2016-01-30 04:15:18,2016
2,xqp0pnO0PfBkaFRNaVImYw,c35f8FumQy5045zFbIir6w,_uyLoz0BbrQIVmUEm_td1Q,3.0,0,0,0,My husband had the 6 oz pepperloin meal and wa...,2018-06-09 01:10:44,2018
3,91uC4f0aX4ycQTDL5Hq7Mw,huHPQSQgw4kFakc0Vq7TDA,_D7QoWuQKMXk0mEE7r_Ftw,5.0,1,0,1,I have been a fan of Chateau La Vin for a few ...,2014-03-14 13:55:46,2014
4,GVoXS_AdNzSUbyNcoErdZQ,rqYkeGG9PBAdMRDvTMCmfw,MVmJuns9ZD9QLGltc0Am8g,5.0,0,0,0,"Out lunch today was pulled pork, smokehouse bo...",2015-11-18 18:51:24,2015

In [4]:
#filter the users from Illinois
unique_IL_users = data_review.user_id.unique()
user_idx = [i for i in range(data_user.shape[0]) if data_user.user_id[i] in unique_IL_users]
user_df = data_user.iloc[user_idx,:]

In [5]:
#fix the index
user_df.index = range(user_df.shape[0])
user_df.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,eTvp_hYnsrI5-ow_sQ31_g,Patt,1028,2010-07-13 15:42:03,9050,3249,5929,"2011,2012,2013,2014,2015,2016,2017,2018,2019,2...","BnBQ0UU9uSiI_0cbCZ4lsw, dwFSSFxqKCSANbZ_8ic9bg...",145,...,113,28,14,26,1608,6510,2673,2673,587,9
1,DeqKbAFwcyeC5pvR-SereQ,Barry,277,2009-02-19 15:05:19,563,406,253,"2014,2015,2016,2018,2019,20,20,2021","PRdB4IOLW4HpW9jjKfLfJw, t82frYTeWtnLxEF7cij2BA...",22,...,8,3,0,0,21,21,32,32,21,3
2,vbGGRxKJocP7EQYs-sUhyw,Becky,55,2009-12-29 21:46:00,64,7,22,2012,"9CR8XABwOQnHN78bYfajqA, 2_QnhjLRfWfOrkxbQjidPw...",2,...,0,1,0,0,5,6,5,5,2,0
3,T0dTu7r_zwDhE5AHE5TR3g,Jessica,348,2010-08-09 01:13:52,889,243,487,"2015,2016,2019,20,20,2021","LL_Iv7n_pG44Q5LnTMAkTA, 51XAxFJE9Bv1uW1dAmNeEw...",39,...,3,3,1,0,24,23,24,24,15,19
4,efZ3lgvDWfq4-U6U-q-2lA,Desiree,462,2011-05-26 12:06:52,949,289,413,"2012,2013,2014,2015,2016,2017,2018,2019,20,20,...","eW3dUuQXV0fdUy_m9463kQ, eHUkxbWvNiU-3hp1mPMD-w...",44,...,6,1,2,0,72,59,109,109,26,9

In [6]:
#Check missing values
user_df.isnull().sum()

user_id                 0
name                    0
review_count            0
yelping_since           0
useful                  0
funny                   0
cool                    0
elite                 446
friends                 0
fans                    0
average_stars           0
compliment_hot          0
compliment_more         0
compliment_profile      0
compliment_cute         0
compliment_list         0
compliment_note         0
compliment_plain        0
compliment_cool         0
compliment_funny        0
compliment_writer       0
compliment_photos       0
dtype: int64

In [7]:
# cleaning elites
user_df['is_elite'] = ~np.array(user_df.elite.isnull())
user_df.is_elite.describe()

C:\Users\Dell\AppData\Local\Temp/ipykernel_8908/3037546122.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_df['is_elite'] = ~np.array(user_df.elite.isnull())

count       521
unique        2
top       False
freq        446
Name: is_elite, dtype: object

In [8]:
# too many values, may be just take year.
len(user_df.yelping_since.unique())

521

In [9]:
# get the year
yr_ls = [eval(x.split('-')[0]) for x in user_df.yelping_since]
user_df['year'] = yr_ls
user_df

C:\Users\Dell\AppData\Local\Temp/ipykernel_8908/3321491257.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_df['year'] = yr_ls

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos,is_elite,year
0,eTvp_hYnsrI5-ow_sQ31_g,Patt,1028,2010-07-13 15:42:03,9050,3249,5929,"2011,2012,2013,2014,2015,2016,2017,2018,2019,2...","BnBQ0UU9uSiI_0cbCZ4lsw, dwFSSFxqKCSANbZ_8ic9bg...",145,...,14,26,1608,6510,2673,2673,587,9,True,2010
1,DeqKbAFwcyeC5pvR-SereQ,Barry,277,2009-02-19 15:05:19,563,406,253,"2014,2015,2016,2018,2019,20,20,2021","PRdB4IOLW4HpW9jjKfLfJw, t82frYTeWtnLxEF7cij2BA...",22,...,0,0,21,21,32,32,21,3,True,2009
2,vbGGRxKJocP7EQYs-sUhyw,Becky,55,2009-12-29 21:46:00,64,7,22,2012,"9CR8XABwOQnHN78bYfajqA, 2_QnhjLRfWfOrkxbQjidPw...",2,...,0,0,5,6,5,5,2,0,True,2009
3,T0dTu7r_zwDhE5AHE5TR3g,Jessica,348,2010-08-09 01:13:52,889,243,487,"2015,2016,2019,20,20,2021","LL_Iv7n_pG44Q5LnTMAkTA, 51XAxFJE9Bv1uW1dAmNeEw...",39,...,1,0,24,23,24,24,15,19,True,2010
4,efZ3lgvDWfq4-U6U-q-2lA,Desiree,462,2011-05-26 12:06:52,949,289,413,"2012,2013,2014,2015,2016,2017,2018,2019,20,20,...","eW3dUuQXV0fdUy_m9463kQ, eHUkxbWvNiU-3hp1mPMD-w...",44,...,2,0,72,59,109,109,26,9,True,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
516,QQn0DByk6xs0hZ72bhJXSA,Josh,1,2013-01-13 01:56:36,0,0,0,NaN,None,0,...,0,0,0,0,0,0,0,0,False,2013
517,RUDflLMzM3WXqJ3l8fScug,monika,8,2011-06-17 01:07:41,10,2,0,NaN,None,0,...,0,0,0,0,0,0,0,0,False,2011
518,2JGgm14jHroXUd6vEh9Qeg,Damian,9,2013-07-07 15:08:00,1,1,0,NaN,None,0,...,0,0,0,0,0,0,0,0,False,2013
519,yRUpQjiL-eE-8SalQrmrhA,Rebecca,3,2016-12-31 17:33:15,0,0,0,NaN,None,0,...,0,0,0,0,0,0,0,0,False,2016
520,0TRNC5CipwyQ6r0l_50NnA,Kerry,3,2016-01-10 13:16:13,6,0,0,NaN,None,0,...,0,0,0,0,0,0,0,0,False,2016

In [10]:
user_df.to_csv(r"D:\yelp_dataset\yelp_dataset~\IL_users.csv")